<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  	<!-- The location of the plugins directory -->
	<add key="PluginLocation" value="plugins" />
	
  	<!-- Information about how the bot will connect to the twitch servers -->
	<add key="IRCUsername" value="Redback93" />
	<add key="IRCPassword" value="OAuth abc123" />
	
  	<!-- Information about the channel where the bot will connect -->
	<add key="IRCChannel" value="Redback93" />
	
  	<!-- The prefix of a message that makes it a command -->
	<add key="CommandPrefix" value="!" />
  </appSettings>
</configuration>